:root {
  --dark: #1e2124;
  --light: #424549;
  --blurple: #5865F2;
  --green: #57F287;
  --yellow: #FEE75C;
  --red: #ED4245;
  --fuchsia: #EB459E;
}

body {
  font-size: 2vmin;
}

/* LAYOUT */

.app {
  width: 100vw;
  height: 100vh;
  min-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light);
}

.grid {
  display: grid;
  width: 90vmin;
  height: 80vmin;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.grid > * {
  box-shadow: 0 0 10px -5px black;
}

/* PKMN CARD */

.guess {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark);
  border-radius: 10px;

}

.guess h1 {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--blurple);
  user-select: none;
}

.guess img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.guess input {
  width: 80%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-style: none;
  background: transparent;
  color: var(--blurple);
  border-bottom: 2px solid var(--blurple);
}

.guess input:hover {
  filter: brightness(110%);
}

.guess input:focus {
  outline: none;
}

.guess input:focus::placeholder {
  color: transparent;
}

.correct {
  color: var(--green) !important;
  border-bottom: 2px solid var(--green) !important;
}

/* TYPES */

.type {
  text-align: center;
  border-radius: 5px;
  user-select: none;
}

/* DRAG */

.types-drag {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;

  background-color: var(--dark);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.drag {
  width: 80%;
  cursor: move;
}

/* DROP */

.types-drop {
  height: 100%;
  grid-row: 3;
  grid-column: 2;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--dark);
  border-radius: 10px;
}

.drop {
  height: 50%;
  width: 50%;
  margin: 5%;
  background-color: var(--light);
}

/* DRAG AND DROP */

.dragged {
  opacity: 0;
}

.drag-over {
  outline: 2px solid var(--blurple);
}

/* SKIP BUTTON */

.skip {
  grid-row: 3;
  grid-column: 3;

  background-color: var(--dark);
  color: var(--blurple);

  border-style: none;
  border-radius: 10px;

  user-select: none;
}

.skip:hover {
  cursor: pointer;
  outline: 2px solid var(--blurple);
  filter: brightness(105%);
}

.skip:active {
  filter: brightness(95%);
}