:root {
  --dark: #1e2124;
  --light: #424549;
  --blurple: #5865F2;
  --green: #57F287;
  --yellow: #FEE75C;
  --red: #ED4245;
  --fuchsia: #EB459E;
}

.app {
  width: 100vw;
  height: 100vh;
  min-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light);
}

.grid {
  display: grid;
  width: 90vmin;
  height: 80vmin;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.grid > * {
  box-shadow: 0 0 10px -5px black;
}

.guess {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark);
  border-radius: 10px;

}

.guess h1 {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--blurple);
  user-select: none;
}

.guess .pokemon {
  width: 90%;
  height: 100%;
}

.guess .pokemon img {
  width: 100%;
  height: 50vmin;
  object-fit: contain;
}

.guess .pokemon .types {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.guess .pokemon .types > * {
  padding: 3px;
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  color: var(--dark);
}

.guess input {
  margin-bottom: 1.5rem;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
  border-style: none;
  background: transparent;
  color: var(--blurple);
  border-bottom: 2px solid var(--blurple);
}

.guess input:hover {
  filter: brightness(110%);
}

.guess input:focus {
  outline: none;
}

.guess input:focus::placeholder {
  color: transparent;
}

.skip {
  grid-row: 3;
  grid-column: 3;

  background-color: var(--dark);
  color: var(--blurple);

  border-style: none;
  border-radius: 10px;

  user-select: none;
}

.skip:hover {
  cursor: pointer;
  outline: 2px solid var(--blurple);
  filter: brightness(105%);
}

.skip:active {
  filter: brightness(95%);
}

.correct, .incorrect {
  display: flex;
  justify-content: center;

  border-radius: 10px;
  font-size: 3rem;

  user-select: none;
}

.correct {
  grid-row: 1;
  grid-column: 1;

  background-color: var(--green);
}

.incorrect {
  grid-row: 1;
  grid-column: 3;

  background-color: var(--red);
}